<div class="glitch d-flex flex-column justify-content-center">
    <div class="stack topTitle text-start" style="--stacks: 2;">
        <span style="--index: 0;">{{topTitle}}</span>
        <span style="--index: 1;">{{topTitle}}</span>
    </div>
    <div class="stack mainTitle text-center" style="--stacks: 4;">
        <span style="--index: 0;">{{mainTitle}}</span>
        <span style="--index: 1;">{{mainTitle}}</span>
        <span style="--index: 2;">{{mainTitle}}</span>
        <span style="--index: 3;">{{mainTitle}}</span>
    </div>
    <div class="stack bottomTitle text-end" style="--stacks: 2;">
        <span style="--index: 0;">{{bottomTitle}}</span>
        <span style="--index: 1;">{{bottomTitle}}</span>
    </div>
</div>
