<div class="glitch d-flex flex-column justify-content-center">
    <div class="stack text-start" style="--stacks: 2;">
        <span style="--index: 0;" class="topTitle"></span>
        <span style="--index: 1;" class="topTitle"></span>
    </div>
    <div class="stack text-center" style="--stacks: 4;">
        <span style="--index: 0;" class="mainTitle"></span>
        <span style="--index: 1;" class="mainTitle"></span>
        <span style="--index: 2;" class="mainTitle"></span>
        <span style="--index: 3;" class="mainTitle"></span>
    </div>
    <div class="stack text-end" style="--stacks: 2;">
        <span style="--index: 0;" class="mainSubTitle"></span>
        <span style="--index: 1;" class="mainSubTitle"></span>
    </div>
    <div class="stack text-end" style="--stacks: 2;">
        <span style="--index: 0;" class="bottomTitle"></span>
        <span style="--index: 1;" class="bottomTitle"></span>
    </div>
</div>
