<ng-container *ngIf="withContent; else routing">
    <ng-content/>
</ng-container>
<ng-template #routing>
    <th-canvas>
        <router-outlet/>
    </th-canvas>
</ng-template>

<!--<th-canvas *ngIf="disableRouting; then content else routing" />-->
<!--<ng-template #routing>-->
<!--    <router-outlet />-->
<!--</ng-template>-->
<!--<ng-template #content>-->
<!--    <jn-website-th-scene-environment />-->
<!--    <ng-content/>-->
<!--</ng-template>-->

<!--<th-canvas *ngIf="disableRouting; else routing">-->
<!--    ENVIRONMENT-->
<!--    <jn-website-th-scene-environment />-->
<!--&lt;!&ndash;    <jn-website-th-scene-vr />&ndash;&gt;-->
<!--</th-canvas>-->

<!--<ng-template #routing>-->
<!--    OUTLET-->
<!--    <router-outlet></router-outlet>-->
<!--</ng-template>-->
