<!--<div class="jn-streaming-scene-main-background">-->
<!--    <th-canvas>-->
<!--        <th-scene>-->
<!--            <th-ambientLight/>-->
<!--            <th-perspectiveCamera [position]="[5, 5, 5]"-->
<!--                                  [lookAt]="[0,-2,0]"-->
<!--            />-->
<!--            <jn-streaming-th-prefab-wave-point/>-->
<!--        </th-scene>-->
<!--    </th-canvas>-->
<!--</div>-->
<div class="jn-streaming-scene-main-foreground">
    <div class="glitch d-flex flex-column justify-content-center">
<!--        <div class="stack text-start" style="'&#45;&#45;stacks:' + {{topTitle.stackCount}}">-->
<!--            <span *ngFor="let index of topTitle.stacks()" style="'&#45;&#45;index:'+{{index}}">{{topTitle.text}}ALBEDO</span>-->
<!--        </div>-->
    </div>
</div>


<!--<div class="jn-streaming-scene-main-foreground">-->
<!--    <div class="glitch d-flex flex-column justify-content-center">-->
<!--        <div class="stack text-start" style="&#45;&#45;stacks: 2;">-->
<!--            <span style="&#45;&#45;index: 0;" class="topTitle"></span>-->
<!--            <span style="&#45;&#45;index: 1;" class="topTitle"></span>-->
<!--        </div>-->
<!--        <div class="stack text-center" style="&#45;&#45;stacks: 4;">-->
<!--            <span style="&#45;&#45;index: 0;" class="mainTitle"></span>-->
<!--            <span style="&#45;&#45;index: 1;" class="mainTitle"></span>-->
<!--            <span style="&#45;&#45;index: 2;" class="mainTitle"></span>-->
<!--            <span style="&#45;&#45;index: 3;" class="mainTitle"></span>-->
<!--        </div>-->
<!--        <div class="stack text-end" style="&#45;&#45;stacks: 2;">-->
<!--            <span style="&#45;&#45;index: 0;" class="mainSubTitle"></span>-->
<!--            <span style="&#45;&#45;index: 1;" class="mainSubTitle"></span>-->
<!--        </div>-->
<!--        <div class="stack text-end" style="&#45;&#45;stacks: 2;">-->
<!--            <span style="&#45;&#45;index: 0;" class="bottomTitle"></span>-->
<!--            <span style="&#45;&#45;index: 1;" class="bottomTitle"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
