<th-scene>
    <!-- TEST #1-->
    <th-group *ngIf="testCase[0].enabled"
              [objRef]="testCase[0].root.objRef"
              [position]="testCase[0].root.position">
        <!-- CUBE-->
        <th-mesh [objRef]="testCase[0].cube.objRef"
                 [position]="testCase[0].cube.position">
            <th-boxGeometry/>
            <th-meshPhongMaterial [args]="testCase[0].cube.material"/>
        </th-mesh>

        <!-- LIGHT-->
        <th-group [objRef]="testCase[0].light.objRef">
            <th-pointLight [position]="testCase[0].light.point.position">
                <th-mesh>
                    <th-sphereGeometry [args]="[testCase[0].light.point.radius]"/>
                    <th-meshBasicMaterial/>
                </th-mesh>
            </th-pointLight>
        </th-group>
    </th-group>
</th-scene>

